.card-content{
    width: 280px;
    height: 280px;
    background: #457b9d;
    color: #f1faee;
    box-shadow: #1d5a80 8px 6px 1px 1px ;
    border-radius: 10px;
    padding: 1rem;
    font-style: oblique;
    font-weight: 800;
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}



